@{
  Layout ="_Layout";
}

@model MovieTheater.Models.Movie

<h2>Edit movie details for @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MovieId)
  @Html.HiddenFor(model => model.Name)

  <p>Age Requirement</p>
  @Html.EditorFor(model => model.MinAge, new {type="number"})
  @Html.LabelFor(model => model.TimeSlot)
  @Html.EditorFor(model => model.TimeSlot, new {type="time"})

  <button type="submit" class="btn btn-dark">Submit Changes</button>
}

<button class="btn btn-dark">@Html.ActionLink("Back to Movie List", "Index")</button>